{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_comment',sneakerid=sneakerid) }}" method=post class=add-entry>
      <dl>
        <dt>Comment:
        <dd><input type=text size=30 name=comment>
        <dt>Rating:
        <dd><select name=score>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
            </select>
        <dd><input type=submit value=Comment>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for comment in comments %}
    <li><h2>{{ comment.review }}</h2>{{ comment.rating|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
