<!doctype html>
<!-- This format was derived from the Flask App tutorial on the Flask Website: http://flask.pocoo.org/docs/0.12/tutorial/ -->
<title>SneakerAgg</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1><a href = "{{ url_for('show_sneakers') }}" >SneakerAgg</a></h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('about') }}">About</a>
    <a href="{{ url_for('table') }}">Table View</a>
    <a href="{{ url_for('show_sneakers') }}">Catalog View</a><br>
    <a href="{{ url_for('admin') }}">Admin Sign Up</a>
    <a href="{{ url_for('signup') }}">Sign Up</a>
    <a href="{{ url_for('login') }}">Log In</a>
  {% else %}
    <a href="{{ url_for('about') }}">About</a>
    <a href="{{ url_for('table') }}">Table View</a>
    <a href="{{ url_for('show_sneakers') }}">Catalog View</a><br>
    <a href="{{ url_for('profile', userid = session.id) }}">View Messages</a>
    <a href="{{ url_for('favorites', userid = session.id) }}">Favorites</a>
    <a href="{{ url_for('logout') }}">Log Out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message|safe }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
