{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

  <form action="{{ url_for('send_message') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>message:
      <dd><input type=text name=message placeholder="message">
      <dd><input type=submit value="Send Message">
    </dl>
  </form>

  <table class=messages>
    <tr>
      <th>From</th>
      <th>Message</th>
    </tr>
  {% for message in messages %}
  {% if session.id == message.reciever_id %}
    <tr>
      <td>{{ message.username|safe }}</td>
      <td>{{ message.message_body|safe }}</td>
    </tr>
  {% endif %}
  {% else %}
    <tr>
      <td>No messages so far.</td>
      <td>Try making some friends!</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
