/*This style sheet is derived from the flask app tutorial on http://flask.pocoo.org/docs/0.12/tutorial/css/*/
body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

img{max-width: 75%;
    max-height: 75%
    }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.sneakers        { list-style: none; margin: 0; padding: 0; }
.sneakers li     { margin: 0.8em 1.2em; }
.sneakers li h2  { margin-left: -1em; }
.add-sneaker      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-sneaker dl   { font-weight: bold; }
.search      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.search dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
/*end derivation from the flask app tutorial*/

/*from https://www.w3schools.com/css/tryit.asp?filename=trycss_table_color*/
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #377ba8;
    color: white;
}
/*end help from  https://www.w3schools.com/css/tryit.asp?filename=trycss_table_color*/
